* {
    color: white;
}
.blog-all {
    padding: 0.6em;
    border-radius: 0.2em;
    display: flex;
    background-color: rgba(0,0,0,0.2);
    margin: 0.9%;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10vh;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 1%;
}
.topics {
    background-color: #2b2a33;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 0.2rem;
    align-items: center;
}
.topics img {
    margin: 0.51%;
    width: 6.8%;
    height: auto;
    border: 0.23em solid white;
    border-radius: 50%;
    transition: 0.2s;
}
#allbut {
    background-color: lightgreen;
    color: black;
    border: none;
    width: auto;
    height: 4%;
    margin: 0.51rem;
    margin-bottom: 0;
    border-radius: 0.21em;
    font-size: 1vw;
}
.topics img:hover {
    transform: scale(1.02);
}
#title {
    font-size: 1.5vw;
    font-weight: bolder;
}
#date {
    color: rgba(255,255,255,0.523);
    font-size: 1vw;
}
.html {
    font-size: 1vw;
    font-weight: lighter;
    text-align: justify;
    text-justify: inter-word;
}
.html img {
    margin: 0.41rem;
    margin-bottom: 0;
}
.posts {
    width: 80%;
}
@media only screen and (max-width: 1000px) {
    #allbut {
        font-size: 3vw;
    }
    .topics {
        background-color: #2b2a33;
        width: 98%;
        height: auto;
        display: flex;
        justify-content: center;
        border-radius: 0.2rem;
        align-items: center;
    }
    .topics img {
        margin: 0.5vw;
        width: 13vw;
        height: auto;
        border: 0.35vw solid white;
        border-radius: 50%;
        transition: 0.2s;
    }
    .html {
        font-size: 2.3vw;
        font-weight: lighter;
        text-align: justify;
        text-justify: inter-word;
    }
    .html img {
        width: 90%;
    }
    #title {
        font-size: 3vw;
        font-weight: bolder;
    }
        .posts {
        width: 100%;
    }
    #nxtbut, #prvbut {
        width: 3%;
    }
    .blog-all {
        width: 95%;
    }
}
.allposts {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.allposts span {
    margin: 0.51rem;
    font-family: 8vw;
}
#nxtbut {
    width: 4%;
}
#prvbut {
    width: 4%;
    transform: scaleX(-1);
}
#prvbut:hover, #nxtbut:hover {
    width: 4.4%;
}
