.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    background-image: url("https://w0.peakpx.com/wallpaper/456/15/HD-wallpaper-black-texture-ultra-aero-patterns-dark-black-pattern-texture.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
